/* Logo wrapper controls max width and centers it */
.logo-wrapper {
  max-width: 300px;  /* default desktop/tablet size */
  margin: 0 auto;
}

/* Logo image fills container */
.logo-img {
  width: 75%;
  height: auto;
}
.navbar .nav-link {
  color: black;      
  transition: color 0.3s ease;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: blue;
}

.navbar .nav-link .custom{
    color : black;
}

.navbar-transition {
  transition: all 0.3s ease;
  background-color: transparent; 
}


.navbar-transition.scrolled {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}
